.block-form-user-edit {
  hr {
    width: rem(415px);
  }

  .form-actions {
    margin-top: rem(35px);
  }

  .form-item-uploader {
    position: relative;
    line-height: 0;

    label {
      background-color: rgba($gray-f9, 0.9);
      border-radius: 100%;
      border: rem(1px) solid $primary-color;
      color: $gray-c7;
      font-size: rem(11px);
      font-weight: 300;
      height: rem(87px);
      left: 50%;
      line-height: 1.5;
      padding: rem(27px 10px);
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translate(-50%, -50%);
      width: rem(87px);
      z-index: -1;
    }
  }

  .form-upload {
    border-radius: 100%;
    font-size: 0;
    height: rem(87px);
    outline: none;
    width: rem(87px);
    opacity: 0;
    z-index: 3;
  }

  .field-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
  }

  .form-item-company-team-name {
    margin-right: rem(30px);
  }
}