<section id="header" class="header">
  <div class="container">
    <div class="header__wrap">
      <div class="header__logo"><a href="index.html" title="Home"><img src="assets/img/logo_small_b.svg" alt="Logo Lander" width=45 height=60></a></div>
      <div class="header__admin-menu">
        <div class="menu-toggle-wrap hidden-on-desktop">
          <span class="menu-icon"><i></i><i></i><i></i></span>
        </div>
        <ul class="admin-menu">
          <li class="admin-menu__item expanded-menu"><a href="#">Buyaharbour</a>
            <div class="expanded-menu__menu-child">
              <ul>
                <li><a href="#">Pages</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Logout</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>