<div class="block-form-user-edit">
  <h3>Profile</h3>
  <form class="form-edit-user">
    <div class="field-group">
      <div class="form-item form-item-company-team-name">
        <label for="edit-name">Company / Team Name</label>
        <input type="text" id="edit-company-team-name" name="" value="" class="form-text" placeholder="Company / Team Name">
      </div>

      <div class="form-item form-item-uploader">
        <label for="user_avatar">Upload avatar</label>
        <input class="form-upload" type="file" id="user_avatar" name="">
      </div>
    </div>

    <div class="form-item form-item-name">
      <label for="edit-email" >Name</label>
      <input type="text" id="edit-name" name="" value="" class="form-text" placeholder="Name">
    </div>

    <div class="form-item form-item-email">
      <label for="edit-email" >Email</label>
      <input type="email" id="edit-email" name="email" value="" class="form-email" placeholder="Email">
    </div>
    <hr>

    <div class="form-item form-item-password-new">
      <label for="edit-password-new" >Change password</label>
      <input type="password" id="edit-password-new" name="" value="" class="form-text" placeholder="Change password">
    </div>

    <div class="form-item form-item-password-confirm">
      <label for="edit-password-confirm" >Confirm password</label>
      <input type="password" id="edit-password-confirm" name="" value="" class="form-text" placeholder="Confirm password">
    </div>
    <hr>

    <div class="form-item form-item-password-current">
      <label for="edit-password-current" >Confirm changes</label>
      <input type="password" id="edit-password-current" name="" value="" class="form-text" placeholder="Confirm changes">
    </div>

    <div class="form-actions webform-actions form-wrapper" id="edit-actions">
      <input class="button blue form-submit" type="submit" id="edit-actions-submit" name="op" value="Update and Save">
    </div>
  </form>
</div>