<div class="grid-content">
  <div class="grid-content__list">
    <div class="grid-content__item">
      <div class="grid-content__group-hover">
        <div class="grid-content__group-content">
          <div class="grid-content__option">
            <div class="form-item form-type-checkbox">
              <input type="checkbox" id="group-template-1" name="projects" value="projects" class="form-checkbox">
              <label for="group-template-1" class="option"></label>
            </div>
          </div>
          <div class="grid-content__link"><a href="#" target="_blank"></a></div>
          <div class="grid-content__settings">
            <span class="menu-settings__icon">
              <span></span>
              <span></span>
              <span></span>
            </span>
            <ul class="menu-settings__list">
              <li class="menu-settings__item"><a href="#">Settings</a></li>
              <li class="menu-settings__item"><a href="#">Duplicate</a></li>
              <li class="menu-settings__item"><a href="#">Publish</a></li>
              <li class="menu-settings__item"><a href="#">Download</a></li>
              <li class="menu-settings__item"><a href="#">Revisions</a></li>
              <li class="menu-settings__item"><a href="#">Delete</a></li>
            </ul>
          </div>
          <div class="grid-content__button"><a class="button button--outline" href="#">Edit page</a></div>
        </div>
        <div class="grid-content__image"><img src="assets/img/image.jpg"></div>
      </div>
      <div class="grid-content__title">Aquire</div>
      <div class="grid-content__description">Denis Cojemeachin</div>
    </div>
    <div class="grid-content__item">
      <div class="grid-content__group-hover">
        <div class="grid-content__group-content">
          <div class="grid-content__option">
            <div class="form-item form-type-checkbox">
              <input type="checkbox" id="group-template-2" name="projects" value="projects" class="form-checkbox">
              <label for="group-template-2" class="option"></label>
            </div>
          </div>
          <div class="grid-content__link"><a href="#" target="_blank"></a></div>
          <div class="grid-content__settings">
              <span class="menu-settings__icon">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
            <ul class="menu-settings__list">
              <li class="menu-settings__item"><a href="#">Settings</a></li>
              <li class="menu-settings__item"><a href="#">Duplicate</a></li>
              <li class="menu-settings__item"><a href="#">Publish</a></li>
              <li class="menu-settings__item"><a href="#">Download</a></li>
              <li class="menu-settings__item"><a href="#">Revisions</a></li>
              <li class="menu-settings__item"><a href="#">Delete</a></li>
            </ul>
          </div>
          <div class="grid-content__button"><a class="button button--outline" href="#">Edit page</a></div>
        </div>
        <div class="grid-content__image"><img src="assets/img/image.jpg"></div>
      </div>
      <div class="grid-content__title">Aquire</div>
      <div class="grid-content__description">Denis Cojemeachin</div>
    </div>
    <div class="grid-content__item">
      <div class="grid-content__group-hover">
        <div class="grid-content__group-content">
          <div class="grid-content__option">
            <div class="form-item form-type-checkbox">
              <input type="checkbox" id="group-template-3" name="projects" value="projects" class="form-checkbox">
              <label for="group-template-3" class="option"></label>
            </div>
          </div>
          <div class="grid-content__link"><a href="#" target="_blank"></a></div>
          <div class="grid-content__settings">
              <span class="menu-settings__icon">
                <span></span>
                <span></span>
                <span></span>
              </span>
            <ul class="menu-settings__list">
              <li class="menu-settings__item"><a href="#">Settings</a></li>
              <li class="menu-settings__item"><a href="#">Duplicate</a></li>
              <li class="menu-settings__item"><a href="#">Publish</a></li>
              <li class="menu-settings__item"><a href="#">Download</a></li>
              <li class="menu-settings__item"><a href="#">Revisions</a></li>
              <li class="menu-settings__item"><a href="#">Delete</a></li>
            </ul>
          </div>
          <div class="grid-content__button"><a class="button button--outline" href="#">Edit page</a></div>
        </div>
        <div class="grid-content__image"><img src="assets/img/image.jpg"></div>
      </div>
      <div class="grid-content__title">Aquire</div>
      <div class="grid-content__description">Denis Cojemeachin</div>
    </div>
    <div class="grid-content__item">
      <div class="grid-content__group-hover">
        <div class="grid-content__group-content">
          <div class="grid-content__option">
            <div class="form-item form-type-checkbox">
              <input type="checkbox" id="group-template-4" name="projects" value="projects" class="form-checkbox">
              <label for="group-template-4" class="option"></label>
            </div>
          </div>
          <div class="grid-content__link"><a href="#" target="_blank"></a></div>
          <div class="grid-content__settings">
              <span class="menu-settings__icon">
                <span></span>
                <span></span>
                <span></span>
              </span>
            <ul class="menu-settings__list">
              <li class="menu-settings__item"><a href="#">Settings</a></li>
              <li class="menu-settings__item"><a href="#">Duplicate</a></li>
              <li class="menu-settings__item"><a href="#">Publish</a></li>
              <li class="menu-settings__item"><a href="#">Download</a></li>
              <li class="menu-settings__item"><a href="#">Revisions</a></li>
              <li class="menu-settings__item"><a href="#">Delete</a></li>
            </ul>
          </div>
          <div class="grid-content__button"><a class="button button--outline" href="#">Edit page</a></div>
        </div>
        <div class="grid-content__image"><img src="assets/img/image.jpg"></div>
      </div>
      <div class="grid-content__title">Aquire</div>
      <div class="grid-content__description">Denis Cojemeachin</div>
    </div>
    <div class="grid-content__item">
      <div class="grid-content__group-hover">
        <div class="grid-content__group-content">
          <div class="grid-content__option">
            <div class="form-item form-type-checkbox">
              <input type="checkbox" id="group-template-5" name="projects" value="projects" class="form-checkbox">
              <label for="group-template-5" class="option"></label>
            </div>
          </div>
          <div class="grid-content__link"><a href="#" target="_blank"></a></div>
          <div class="grid-content__settings">
              <span class="menu-settings__icon">
                <span></span>
                <span></span>
                <span></span>
              </span>
            <ul class="menu-settings__list">
              <li class="menu-settings__item"><a href="#">Settings</a></li>
              <li class="menu-settings__item"><a href="#">Duplicate</a></li>
              <li class="menu-settings__item"><a href="#">Publish</a></li>
              <li class="menu-settings__item"><a href="#">Download</a></li>
              <li class="menu-settings__item"><a href="#">Revisions</a></li>
              <li class="menu-settings__item"><a href="#">Delete</a></li>
            </ul>
          </div>
          <div class="grid-content__button"><a class="button button--outline" href="#">Edit page</a></div>
        </div>
        <div class="grid-content__image"><img src="assets/img/image.jpg"></div>
      </div>
      <div class="grid-content__title">Aquire</div>
      <div class="grid-content__description">Denis Cojemeachin</div>
    </div>
    <div class="grid-content__item">
      <div class="grid-content__group-hover">
        <div class="grid-content__group-content">
          <div class="grid-content__option">
            <div class="form-item form-type-checkbox">
              <input type="checkbox" id="group-template-6" name="projects" value="projects" class="form-checkbox">
              <label for="group-template-6" class="option"></label>
            </div>
          </div>
          <div class="grid-content__link"><a href="#" target="_blank"></a></div>
          <div class="grid-content__settings">
              <span class="menu-settings__icon">
                <span></span>
                <span></span>
                <span></span>
              </span>
            <ul class="menu-settings__list">
              <li class="menu-settings__item"><a href="#">Settings</a></li>
              <li class="menu-settings__item"><a href="#">Duplicate</a></li>
              <li class="menu-settings__item"><a href="#">Publish</a></li>
              <li class="menu-settings__item"><a href="#">Download</a></li>
              <li class="menu-settings__item"><a href="#">Revisions</a></li>
              <li class="menu-settings__item"><a href="#">Delete</a></li>
            </ul>
          </div>
          <div class="grid-content__button"><a class="button button--outline" href="#">Edit page</a></div>
        </div>
        <div class="grid-content__image"><img src="assets/img/image.jpg"></div>
      </div>
      <div class="grid-content__title">Aquire</div>
      <div class="grid-content__description">Denis Cojemeachin</div>
    </div>
    <div class="grid-content__item">
      <div class="grid-content__group-hover">
        <div class="grid-content__group-content">
          <div class="grid-content__option">
            <div class="form-item form-type-checkbox">
              <input type="checkbox" id="group-template-7" name="projects" value="projects" class="form-checkbox">
              <label for="group-template-7" class="option"></label>
            </div>
          </div>
          <div class="grid-content__link"><a href="#" target="_blank"></a></div>
          <div class="grid-content__settings js-open-menu">
            <span class="menu-settings__icon js-btn-menu">
              <span></span>
              <span></span>
              <span></span>
            </span>
            <ul class="menu-settings__list">
              <li class="menu-settings__item"><a href="#">Settings</a></li>
              <li class="menu-settings__item"><a href="#">Duplicate</a></li>
              <li class="menu-settings__item"><a href="#">Publish</a></li>
              <li class="menu-settings__item"><a href="#">Download</a></li>
              <li class="menu-settings__item"><a href="#">Revisions</a></li>
              <li class="menu-settings__item"><a href="#">Delete</a></li>
            </ul>
          </div>
          <div class="grid-content__button"><a class="button button--outline" href="#">Edit page</a></div>
        </div>
        <div class="grid-content__image"><img src="assets/img/image.jpg"></div>
      </div>
      <div class="grid-content__title">Aquire</div>
      <div class="grid-content__description">Denis Cojemeachin</div>
    </div>
  </div>
</div>