<div class="menu-profile">
  <ul class="menu-profile__list">
    <li class="menu-profile__item"><a href="#">Your account</a></li>
    <li class="menu-profile__item"><a href="#">Team</a></li>
    <li class="menu-profile__item"><a href="#">Plan</a></li>
    <li class="menu-profile__item"><a href="#">Billing</a></li>
    <li class="menu-profile__item"><a href="#">Your templates</a></li>
    <li class="menu-profile__item"><a href="#">Connections</a></li>
    <li class="menu-profile__item"><a href="#">Cancel subscription</a></li>
  </ul>
</div>