table {
  margin-bottom: rem(30px);
  width: 100% !important;
}

td,
th {
  border-bottom: rem(1px) solid $gray-ec;
  font-size: rem(14px);
  padding: rem(15px 18px 15px 0);
  vertical-align: top;
}

th {
  color: rgba($text-color, 0.3);
  font-weight: 500;
}

.table-responsive {
  margin-bottom: rem(15px);

  @include susy-media(mobileOnly) {
    overflow-x: auto;
    width: 100%;
  }

  table {
    margin-bottom: 0;
  }
}